## Creating a Set in Python

In [1]:
set1 = {1,2,3,4}
print(set1)

{1, 2, 3, 4}

## Using the set() function

In [5]:
set1 = set()
print(set1)

set1 = set('MayankKathane')
print(set1)

# create a set with use of list
set1 = set(['mayank','kathane'])
print(set1)

# create a set with use of tuple
set1 = set(('mayank','kathane'))
print(set1)

# create a set with use of dictionary
set1 = set({'mayank':1,'kathane':2})
print(set1)

set()
{'e', 'a', 'y', 'h', 'k', 'M', 't', 'n', 'K'}
{'kathane', 'mayank'}
{'kathane', 'mayank'}
{'kathane', 'mayank'}

## Adding Elements to a Set in Python

In [6]:
# create a set
set1 = {1,2,3}

# add one item
set1.add(4)
print(set1)

# add multiple items
set1.update([5,6,7])
print(set1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}

## Accessing a Set in Python

In [7]:
set1 = set([1,2,3,4,5])

# accessing elements using for loops
for i in set1:
    print(i, end = ' ')

# check element# using in keyword
print(1 in set1)

1 2 3 4 5 True

## Removing Elements from the Set in Python

In [8]:
# using remove method
set1 = {1,2,3,4,5,6}
set1.remove(3)
print(set1)

# using discard method
set1.discard(5)
print(set1)

# using pop method
set1.pop()
print(set1)

{1, 2, 4, 5, 6}
{1, 2, 4, 6}
{2, 4, 6}

## Frozen Sets in Python

In [9]:
# creating a frozenset from list
fset = frozenset([1,2,3,4])
print(fset)

# creating frozenset from set
fset = frozenset({1,2,3,4})
print(fset)

frozenset({1, 2, 3, 4})
frozenset({1, 2, 3, 4})