## 1. Numeric Data Types in Python

In [1]:
a = 5
print(type(a))

b = 5.0
print(type(b))

c = 2 + 4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

## 2. Sequence Data Types in Python

### String Data Type

In [2]:
s = 'Welcome to the Geeks World'
print(s)

# check data type
print(type(s))

# access string with index
print(s[1])
print(s[2])
print(s[-1])

Welcome to the Geeks World
<class 'str'>
e
l
d

### List Data Type

In [3]:
# Empty list
a = []

# list with int values
a = [1, 2, 3]
print(a)

# list with mixed int and string
b = ["Geeks", "For", "Geeks", 4, 5]
print(b)

[1, 2, 3]
['Geeks', 'For', 'Geeks', 4, 5]

### Tuple Data Type

In [4]:
# initiate empty tuple
tup1 = ()

tup2 = ('Geeks', 'For')
print("\nTuple with the use of String: ", tup2)

Tuple with the use of String:  ('Geeks', 'For')

## 3. Boolean Data Type in Python

In [5]:
print(type(True))
print(type(False))
print(type(true))

<class 'bool'>
<class 'bool'>

NameError: name 'true' is not defined

## 4. Set Data Type in Python

In [6]:
# initializing empty set
s1 = set()

s1 = set("GeeksForGeeks")
print("Set with the use of String: ", s1)

s2 = set(["Geeks", "For", "Geeks"])
print("Set with the use of List: ", s2)

Set with the use of String:  {'G', 'r', 's', 'o', 'e', 'k', 'F'}
Set with the use of List:  {'Geeks', 'For'}

## 5. Dictionary Data Type

In [7]:
# initialize empty dictionary
d = {}


d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(d)

# creating dictionary using dict() constructor
d1 = dict({1: 'Geeks', 2: 'For', 3: 'Geeks'})
print(d1)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{1: 'Geeks', 2: 'For', 3: 'Geeks'}