## Taking input in python

In [1]:
name = input("Enter your name: ")
print("Hello", name, "Welcome")

Enter your name: Mayank
Hello Mayank Welcome

## Printing Output using print() in Python

In [2]:
print("Hello World!")

Hello World!

## Printing Variables

In [3]:
# single variable
s = "Bob"
print(s)

# multiple variables
s = "Alice"
age = 23
print(s, age)

Bob
Alice 23

## Take Multiple Input in Python

In [5]:
x, y = input("Enter two values: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)
print()

Enter two values: 10 11
Number of boys:  10
Number of girls:  11

## Take Multiple Input in Python

### 1. Print Names in Python

In [6]:
color = input("What is the color of Rose?: ")
print(color)

What is the color of Rose?: Red
Red

### 2. Print Float/Decimal Number in Python

In [7]:
price = float(input("Enter price: "))
print(price)

Enter price: 12.2
12.2

## Find DataType of Input in Python

In [8]:
a = "Hello, World!"
b = 100
c = 11.22
d = ("hi", "bye", "tata")
e = ["apple", "mango"]
f = {"age":23, "name":"mayank"}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

## Output Formatting

Example 1: Using Format()

In [13]:
amount = 12.75
print("Amount: ${:.2f}".format(amount))

Amount: $12.75

Example 2: Using sep and end parameter

In [14]:
# end paramter with @
print("Mayank", end="@")
print("Kathane")

Mayank@Kathane

In [17]:
# seperating with comma
print("Mayank", "Kathane", sep=" ")

Mayank Kathane

In [18]:
# formatting date
print("09", "12", "2016", sep="-")

09-12-2016

Example 3: Using f-string

In [19]:
name = "Mayank"
age = 24
print(f"Hello! My name is {name}, I am {age} years old.")

Hello! My name is Mayank, I am 24 years old.

Example 4: Using % Operator

In [21]:
num = int(input("Enter a value: "))
add = num + 5
print("The sum is %d" %add)

Enter a value: 20
The sum is 25