## Python variables

In [1]:
x = 5
name = "Mayank"
print(x)
print(name)

5
Mayank

## Assigning Values to Variables

### 1. Basic Assignment

In [2]:
x = 5
y = 3.14
z = "Hi"
print(x)
print(y)
print(z)

5
3.14
Hi

### 2. Dynamic Typing

In [3]:
x = 10
x = "Now a string"
print(x)

Now a string

## Multiple Assignments

### 1. Assigning the Same Value

In [4]:
a = b = c = 100
print(a, b, c)

100 100 100

### 2. Assigning Different Values

In [5]:
x, y, z = 1, 2.5, "Python"
print(x, y, z)

1 2.5 Python

## Type Casting a Variable

In [6]:
# Casting variables
s = "10"  # Initially a string
n = int(s)  # Cast string to integer
cnt = 5
f = float(cnt)  # Cast integer to float
age = 25
s2 = str(age)  # Cast integer to string

# Display results
print(n)
print(f)
print(s2)

10
5.0
25

## Scope of a Variable

### 1. Local Variables

In [7]:
def f():
    a = "I am local"
    print(a)

f()

I am local

### 2. Global Variables

In [8]:
a = "I am global"

def f():
    global a
    a = "Modified globally"
    print(a)

f()
print(a)

Modified globally
Modified globally

## Delete a Variable Using del Keyword

In [9]:
# Assigning value to variable
x = 10
print(x)

# Removing the variable using del
del x

10