## If Conditional Statement in Python

In [1]:
age = 20

if age >= 18:
    print("Eligible to vote.")

Eligible to vote.

## Short Hand if

In [2]:
age = 18
if age > 18: print("Eligible to vote.")

## If else Conditional Statements in Python

In [3]:
age = 10

if age <= 12:
    print("Travel for free.")
else:
    print("Pay for ticket.")

Travel for free.

## Short Hand if-else

In [4]:
marks = 45
res = "Pass" if marks > 35 else "Fail"
print(res)

Pass

## elif Statement

In [5]:
age = 25

if age <= 12:
    print("Child.")
elif age <= 19:
    print("Teenager.")
elif age <= 35:
    print("Young adult.")
else:
    print("Adult.")

Young adult.

## Nested if..else Conditional Statements in Python

In [6]:
age = 70
is_member = True

if age >= 60:
    if is_member:
        print("30% senior discount!")
    else:
        print("20% senior discount.")
else:
    print("Not eligible for a senior discount.")

30% senior discount!

## Ternary Conditional Statement in Python

In [7]:
# Assign a value based on a condition
age = 20
s = "Adult" if age >= 18 else "Minor"

print(s)

Adult

## Match-Case Statement in Python

In [8]:
number = 2

match number:
  case 1:
    print("One")
  case 2 | 3:
    print("Two or Three")
  case _:
    print("Other number")

Two or Three