## How to Create a Dictionary

In [3]:
# create dictionary using {}
d1 = {1:'Mayank', 2:'Kathane'}
print(d1)

# create dictionary using dict() constructor
d2 = dict(a = 'Mayank', b = 'Kathane')
print(d2)

{1: 'Mayank', 2: 'Kathane'}
{'a': 'Mayank', 'b': 'Kathane'}

## Accessing Dictionary Items

In [4]:
d = {'name':'Mayank', 'age':24}

# access using key
print(d['name'])

# access using get() method
print(d.get('age'))

Mayank
24

## Adding and Updating Dictionary Items

In [7]:
d = {'name':'Mayank', 'age':24}

# adding new key-value pair
d['city'] = 'Mumbai'
print(d)

# update existing value
d['name'] = 'Batman'
print(d)

{'name': 'Mayank', 'age': 24, 'city': 'Mumbai'}
{'name': 'Batman', 'age': 24, 'city': 'Mumbai'}

## Removing Dictionary Items

In [9]:
d = {'name': 'Mayank', 'age': 24, 'city': 'Mumbai', 1: 'mango'}

# using del to remove an item
del d['age']
print(d)

# using pop to removw an item and return value
res = d.pop('city')
print(d)

# using pop item to remove and return the last key value pairs
key, val = d.popitem()
print(key, val)

# clear all items from dictionary
d.clear()
print(d)

{'name': 'Mayank', 'city': 'Mumbai', 1: 'mango'}
{'name': 'Mayank', 1: 'mango'}
1 mango
{}

## Iterating Through a Dictionary

In [10]:
d = {'name': 'Mayank', 'age': 24, 'city': 'Mumbai', 1: 'mango'}

# iterate over keys
for key in d:
  print(key)

# iterate over values
for val in d.values():
  print(val)

# iterate over key-value pairs
for key, val in d.items():
  print(key, val)

name
age
city
1
Mayank
24
Mumbai
mango
name Mayank
age 24
city Mumbai
1 mango

## Nested Dictionaries

In [11]:
d = {1: 'Geeks', 2: 'For',
        3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

print(d)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}