## Python Lists

In [1]:
lst = [10, "mayank", True]

# accessing elements using indexing
print(lst[0])
print(lst[1])
print(lst[2])

# checking data types of elements
print(type(lst[0]))
print(type(lst[1]))
print(type(lst[2]))

10
mayank
True
<class 'int'>
<class 'str'>
<class 'bool'>

## Creating a List

### 1. Using Square Brackets

In [2]:
# list of integers
lst1 = [1,2,3,4,5]

# list of strings
lst2 = ["banana", "apple", "mango"]

# list of mixed data types
lst3 = [1, "mayank", True]

print(lst1)
print(lst2)
print(lst3)

[1, 2, 3, 4, 5]
['banana', 'apple', 'mango']
[1, 'mayank', True]

### 2. Using list() Constructor

In [3]:
# from tuple
lst4 = list((1,2,3,4,5))

# from string
lst5 = list("mayank")

print(lst4)
print(lst5)

[1, 2, 3, 4, 5]
['m', 'a', 'y', 'a', 'n', 'k']

## Creating List with Repeated Elements

In [5]:
a = [2] * 5
b = [10] * 5
print(a)
print(b)

[2, 2, 2, 2, 2]
[10, 10, 10, 10, 10]

## Accessing List Elements

In [6]:
l = [10,20,30,40,50,60]
print(l[0])
print(l[3])

10
40

## Adding Elements into List

In [8]:
a = []

# append 10
a.append(10)
print(a)

# insert 20 at index 1
a.insert(0,20)
print(b)

# add multiple elements
a.extend([30,40,50])
print(a)

[10]
[10, 10, 10, 10, 10]
[20, 10, 30, 40, 50]

## Updating Elements into List

In [9]:
l = [10,20,30,40,50,60]

# change the second element
l[1] = 90

print(l)

[10, 90, 30, 40, 50, 60]

## Removing Elements from List

In [10]:
l = [10,20,30,40,50,60]

# remove 20
l.remove(20)
print(l)

# remove element at index 1
l.pop(1)
print(l)

# delete first element
del l[0]
print(l)

[10, 30, 40, 50, 60]
[10, 40, 50, 60]
[40, 50, 60]

## Iterating Over Lists

In [11]:
a = ['hi', 'hello', 'bye']

for i in a:
    print(i)

hi
hello
bye

## Nested Lists in Python

In [12]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix)
print(matrix[0])
print(matrix[1])
print(matrix[2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]