## Creating a Tuple

In [1]:
tup = ()
print(tup)

# using string
tup = ("apple", "banana")
print(tup)

# using list
li = [10, 20, 30, 40, 50]
print(tuple(li))

# using built-in function
tup = tuple(range(1, 11))
print(tup)

()
('apple', 'banana')
(10, 20, 30, 40, 50)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## Creating a Tuple with Mixed Datatypes

In [4]:
tup = ('mayank', 24, 'kathane')
print(tup)

# creating a tuple with nested tuples
tup1 = (1,2,3,4,5)
tup2 = ('mayank', 'kathane')
tup3 = (tup1, tup2)
print(tup3)

# creating a tuple with repetition
tup = ('mayank',)*3
print(tup)

# creating a tuple with use of loops
tup = ('Mayank')

for i in range(6):
  tup = (tup,)
  print(tup)

('mayank', 24, 'kathane')
((1, 2, 3, 4, 5), ('mayank', 'kathane'))
('mayank', 'mayank', 'mayank')
('Mayank',)
(('Mayank',),)
((('Mayank',),),)
(((('Mayank',),),),)
((((('Mayank',),),),),)
(((((('Mayank',),),),),),)

## Accessing of Tuples

In [8]:
# accessing tuple with indexing
tup = tuple("Mayank")
print(tup[0])
print(tup[1])
print(tup[2])
print(tup[3])
print(tup[4])
print(tup[5])

# accessing range of elements using slicing
print(tup[1:4])
print(tup[:3])

# tuple unpacking
tup = ("hello", 'hi', 'bye')
a, b, c = tup
print(a)
print(b)
print(c)

M
a
y
a
n
k
('a', 'y', 'a')
('M', 'a', 'y')
hello
hi
bye

## Concatenation of Tuples

In [9]:
tup1 = (1,2,3,4,5)
tup2 = ('mayank', 'kathane')
tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 'mayank', 'kathane')

## Slicing of Tuple

In [10]:
tup = tuple('ELEPHANT')

# removing first element
print(tup[1:])

# rversing tuple
print(tup[::-1])

# printing elements of a range
print(tup[1:5])

('L', 'E', 'P', 'H', 'A', 'N', 'T')
('T', 'N', 'A', 'H', 'P', 'E', 'L', 'E')
('L', 'E', 'P', 'H')

## Deleting a Tuple

In [11]:
tup = (1,2,3,4,5)
del tup